<!DOCTYPE html>
<html>
	<head>
	</head>
<body>

<h2>Hello from test-ejs.ejs and using nodemon</h2>

<h3><%= title %></h3>
<% for(let a in arr){ %>
	<li>I have got this <%= arr[a] %>.</li>
<% }%>
</body>
</html>