#box1{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: red;
}

#box2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: yellow;
}

[draggable]{
  cursor: move;
}